.categories-and-latest,
.categories-and-top,
.category-list {
  @include custom-card;
}

.categories-and-latest,
.categories-and-top {
  .latest-topic-list {
    display: none !important;
  }

  .column {
    width: 100% !important;
    max-width: 100% !important;
    flex: 1 1 100% !important;
  }

  .category-list {
    border: none;
    width: 100% !important;

    .discourse-no-touch & {
      &:hover {
        border: none;
      }
    }
  }
}

.navigation-categories {
  #main-outlet-wrapper #main-outlet {
    grid-column-end: sidebar2;

    @media screen and (width <= 1160px) {
      grid-column-end: auto;
    }
  }

  .custom-right-sidebar {
    display: none;
  }

  .list-controls {
    gap: 0.25em;
  }

  #navigation-bar {
    display: none;
  }
}
